/* Navbar */
* {
  margin: 0;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

body {
  background-color: #07060A;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.logo-section {
  display: flex;
  align-items: center;
}
.company-logo {
  height: 50px;
}
.company-name {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.left-section, .nav-links {
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
}
.nav-link {
  padding: 0px 30px;
}
.nav-link:hover {
  
  cursor: pointer;
}
.shadow:hover {
  color: #5fbf80;
  box-shadow: 0px 0px 30px -5px #5fbf80;
}

.metamask-logo {
  height: 30px;
  background: transparent;
  padding: 5px 10px;;
}

.metamask-connect {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #5fbf80;
  transition: 500ms;
  cursor: pointer;
}


.metamask-connect:active {
  border: 2px solid 5fbf80;
}
.metamask-connect:hover {
  box-shadow: 0px 0px 30px -5px #5fbf81;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 30px 100px;
}
.hero-left>p {
  font-size: 20px;
  margin-top: 30px;
  width: 500px;
}
.heading {
  width: 300px;
  margin-top: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  font-size: 72px;
}
.heroImage {
  height: 800px;
}

.heroButton {
  margin-top: 50px;
  background-color: #5fbf80;
  padding: 12px 80px;
}